body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #000;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    max-height: 50px;
    filter: invert(100%);
    margin-right: 10px;
}

.logo-text {
    display: inline-block;
    color: white;
    font-size: 1em;
    word-wrap: break-word;
    text-align: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

iframe {
    border: none;
    flex-grow: 1;
}
