:root {
    --hamburger-width: 20px; /* Width of the hamburger bars */
    --hamburger-height: 2px; /* Height of the hamburger bars */
    --hamburger-spacing: 3px; /* Spacing between the bars */
    --hamburger-color: white; /* Color of the hamburger bars */
    --hamburger-active-color: red; /* Color of the bars when active */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
    padding: 10px;
    position: relative;
}

.logo img {
    height: 40px;
    filter: invert(100%);
}


.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(var(--hamburger-height) * 3 + var(--hamburger-spacing) * 2);
    cursor: pointer;
}

.hamburger .bar {
    height: var(--hamburger-height);
    width: var(--hamburger-width);
    background-color: var(--hamburger-color);
    transition: all 0.3s;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(calc(var(--hamburger-height) + var(--hamburger-spacing))) rotate(45deg);
    background-color: var(--hamburger-active-color);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(calc(-1 * (var(--hamburger-height) + var(--hamburger-spacing)))) rotate(-45deg);
    background-color: var(--hamburger-active-color);
}

nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
}

nav a:hover {
    background-color: #555;
}

iframe {
    width: 100%;
    height: calc(100% - 60px); /* Adjust based on header height */
    border: none;
}
